.header {
  @include heading($font-size-base);
  font-family: $font-family-base;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $header-margin-y;
  padding: $header-padding-y $header-padding-x;
  border-bottom: 1px solid $gray;
  //TODO feedback: 应该多采用class选择器，而不是标签选择器
  nav {
    > ul {
      display: flex;
      > li {
        > button {
          @extend .button-primary;
          padding: $header-button-y $header-button-x;
        }

        &:last-child {
          margin-left: 5px;
          > button {
            @include button-color($white, $primary-color);
          }
        }
      }
    }
  }
}
