body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-base;
  background-color: $body-bg;
  line-height: $line-height-base;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 {
  color: $heading-color;
  margin: 0;
}
//TODO feedback _reboot.scss文件是用来覆盖标签的默认属性或者设置标签的全局属性，我们特定的css逻辑不应该放在_reboot文件里面
.button-primary {
  @include button-color($primary-color, $body-bg);
  border-radius: 20px;
  border: 1px solid $primary-color;
}
